<div class="ui tiny inverted menu">
  <div class="ui floating labeled icon dropdown button">
  <i class="filter icon"></i>
  <span class="text">Select App</span>
  <div class="menu">
    <div class="divider"></div>
    <div class="item">
      <i class="attention icon">
      <%= link_to 'Article', articles_path %></i>
    </div>
    <div class="item">
      <i class="comment icon"></i>
      Announcement
    </div>
    <div class="item">
      <i class="meetup icon">
      <%= link_to 'Chat App', new_path %></i>
    </div>
  </div>
</div>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu container">
        <% if logged_in? %>
          <a class="item" ><%= link_to 'Log out', destroy_path, method: :delete %></a>
        <% else %>
          <a class="item" ><%= link_to 'Log In' , new_path %></a>
        <% end %>
      </div>
    </div>
    <% if !logged_in? %>
    <div class="item">
      <%= link_to 'Log In' , new_path, class: "ui primary button" %>
    </div>
    <% end %>
  </div>
</div>
