<!DOCTYPE html>
<html>
  <head>
    <title>Udamy Learnings</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if params[:controller] == 'chatrooms' %>
      <%= render 'layouts/chatroom_navbar' %>
    <% else %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <div class= "ui container">
      <%= yield %>
    </div>
  </body>
</html>
